.myheader{
  text-align: center;
  background-color: #0a192f;
  
}
.profile-pic{
  border-radius: 50%;
}

.carousel-item {
 height: 500px;
    text-align: center;
}


.item1 {
  background-color:red;
  /*height: 100px;*/
  background: url(https://s3.ap-southeast-1.amazonaws.com/images.deccanchronicle.com/dc-Cover-kvio9sfdm9g0alh5t91mrafha7-20180903011957.Medi.jpeg);
}

.item2 {
  background-color:yellow;
  /*height: 100px;*/
  background: url(https://vijayawadatourism.in/images/places-to-visit/headers/prakasam-barrage-vijayawada-entry-fee-timings-holidays-reviews-header.jpg);
}

.item3 {
  background-color:blue;
  /*height: 100px;*/
  background: url(https://cdn.thewire.in/wp-content/uploads/2018/01/09114430/cotton.png);
}

